<!--<div class="card bg-light top ">
  <div class="card-body text-dark">
    <div class="container-fluid">-->



      <div class="topnav">
          <a [routerLink]="'/user-profile/'" *ngIf="loggedIn">My Profile</a>
          <a [routerLink]="'/event-list/'">Events</a>
          <a [routerLink]="'/user-list/'" *ngIf="isAdmin">User List</a>
          <a [routerLink]="'/sport-list/'" *ngIf="isAdmin">Sports</a>
          <a class="button" (click)="logout()" style="float:right; cursor: pointer;" *ngIf="loggedIn" >Logout</a>
          <a [routerLink]="'/register/'" *ngIf="!loggedIn">Register</a>
          <app-login *ngIf="!loggedIn"></app-login>
      </div>




      <!--</div>
    </div>
  </div>-->


