<div class="card bg-light top " *ngIf="loggedIn">
  <div class="card-body text-dark">
    <div class="container-fluid">



      <nav class="navbar navbar-expand-lg navbar-dark justify-content-between">
        <div class="col-1" *ngIf="loggedIn">
          <a class="navbar-brand brand" [routerLink]="'/user-profile/'">My Profile</a>
        </div>


        <div class="navbar-nav">
          <a class="navbar-brand brand" [routerLink]="'/event-list/'">Events</a>
        </div>

        <div class="navbar-nav" *ngIf="isAdmin">
          <a class="navbar-brand brand" [routerLink]="'/user-list/'">User List</a>
        </div>

        <div class="navbar-nav" *ngIf="isAdmin">
          <a class="navbar-brand brand" [routerLink]="'/sport-list/'">Sports</a>
        </div>

        <div class="col-2 btn-group-sm">
          <button (click)="logout()">Logout</button>
        </div>
      </nav>
    </div>
  </div>

</div>
