<div class="container">


    <h1>Events</h1>

</div>
<div class="container">
  <input id="filterEvents" type="text" name="filterEvents" #box (keyup)="filterEvents(box.value);" value=""
         placeholder="Filter Events">

<button type="button" (click)="createEvent()">
  Create event
</button>

</div>
<div class="container">

  <div class="row">
    <div class="col-sm-4" *ngFor="let event of eventArray">
      <div class="card" >
        <div class="card-header">
          {{event.eventType}}
        </div>
        <div class="card-body">
          <h5 class="card-title">
            {{event.eventTitle}}
          </h5>
          <p class="card-text"> {{event.eventDateTime}}</p>

          <p class="card-text">{{event.eventZIP}} {{event.eventTown}},</p>
          <p class="card-text">{{event.eventStreet}}</p>
        </div>
        <div class="card-footer">
          <button
            [routerLink]="'/event-info/' + event.id" *ngIf="event.eventOrganizer !== currentLoggedInUser">View</button>

          <button [routerLink]="'/event-form/' + event.id" *ngIf="event.eventOrganizer === currentLoggedInUser">Edit</button>


          <button class="btn-danger" type="button" (click)="deleteEvent(event)" *ngIf="event.eventOrganizer === currentLoggedInUser">Delete</button>
        </div>

      </div>
    </div>
  </div>

</div>
