<div class="container">


  <h1>Events</h1>

</div>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <input id="filterEvents" type="text" name="filterEvents" #box (keyup)="filterEvents(box.value);"
             value=""
             placeholder="Filter Events">
    </div>
    <div class="col-sm-4">
      <button class="btn btn-primary" style="float: right;" type="button" (click)="createEvent()">
        Create event
      </button>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-4" *ngFor="let event of eventArray">
      <div class="card">
        <div class="card-header">
          {{event.eventType}}
        </div>
        <div class="card-body">
          <h5 class="card-title">
            {{event.eventTitle}}
          </h5>
          <p class="card-text"> {{event.eventDateTime| date:short}}</p>

          <p class="card-text">{{event.eventZIP}} {{event.eventTown}}</p>
          <p class="card-text">{{event.eventStreet}}</p>

        </div>
        <div class="card-footer">
          <button class="btn btn-primary"
                  [routerLink]="'/event-info/' + event.id">View
          </button>
          <button class="btn btn-blue" [routerLink]="'/event-form/' + event.id"
                  *ngIf="event.eventOrganizer === currentLoggedInUser">Edit
          </button>

          <button class="btn btn-red" type="button" (click)="deleteEvent(event)"
                  *ngIf="event.eventOrganizer === currentLoggedInUser || currentLoggedInUser === 'admin'">Delete
          </button>
        </div>
      </div>
    </div>

  </div>
</div>

