@import url(https://fonts.googleapis.com/css?family=Poiret+One);

@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
  }
}

.btn {
  color:black;
  text-decoration: none;
  padding:5px 5px;
  border-radius:10px;
  margin: 5px;
  font-family: 'Poiret One', cursive;
  font-size:1.2em;
  font-weight: bold;
}

.btn-green {
  @include button-bg(#2ecc71);
}

.btn-blue {
  @include button-bg(#3498db);
}

.btn-yellow{
  @include button-bg(#f1c40f);
}

.btn-red {
  @include button-bg(#e74c3c);
}

/*Other Stylez*/
.wrap {
  margin:0 auto;
  width:800px;
  text-align:center;
}

h1 {
  font-family: 'Poiret One' ;
  font-size:4em;
  text-align: center;
}

.row{
  font-family: 'Calibri';
  color: #000000;
  //margin:auto;
  //width:1250px;
  //font-size: 5em;
}

.col{
  font-family: Calibri;
  color: #000000;
  //margin:auto;
  //width:1250px;
  font-size: 1.2em;

}
.card{
  border-radius: 10px;
  margin-bottom: 20px;
}
