<form [formGroup]="userForm">

  <h1>{{usernameShow}}</h1>

  <div class="col">
    <div class="form-group">
      First Name: {{firstName}}
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      Last Name: {{lastName}}
    </div>
  </div>


    <div class="col">
      <div class="form-group">
      Favourite Sports: {{sports}}
    </div>
    </div>
  <br>

  <div class="btn">
    <a [routerLink]="'/user-profile-edit'">
      <button class="btn btn-primary">
        Edit
      </button>
    </a>
  </div>

</form>
