<form (ngSubmit)="login()">
  <div class="topnav">

    <div class="login-container">
      Username:
    <input type="text" name="username" [(ngModel)]="user.username"/>


      Password:
    <input [type]="show ? 'text' : 'password'"  id="password"  name="password" [(ngModel)]="user.password"/>

  <button type="submit"  style="float:right; cursor: pointer;" onmouseover="this.style.backgroundColor='#ddd';this.style.color='#000000'"
             onmouseout="this.style.backgroundColor='';this.style.color=''">Login</button>
    </div>
  </div>
</form>
