<form [formGroup]="eventForm" (ngSubmit)="saveEvent()">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="eventTitle">Title:</label>
        <input id="eventTitle" type="text" name="eventTitle" formControlName="eventTitle" class="form-control"/>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="eventDescription">Description</label>
        <input id="eventDescription" type="text" name="eventDescription" formControlName="eventDescription"
               class="form-control"/>
      </div>
    </div>
  </div>
  <div class="col">
    <label>Type</label>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="eventType" id="radio1" formControlName="eventType"
             value="TRAINING">
      <label class="form-check-label" for="radio1">
        Training
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="eventType" id="radio2" formControlName="eventType"
             value="COMPETITION">
      <label class="form-check-label" for="radio2">
        Competition
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="eventType" id="radio3" formControlName="eventType"
             value="JUSTFORFUN">
      <label class="form-check-label" for="radio3">
        Just for fun
      </label>
    </div>
  </div>


  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="eventTown">Town:</label>
        <input id="eventTown" type="text" name="eventTown" formControlName="eventTown" class="form-control"/>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="eventZIP">ZIP:</label>
        <input id="eventZIP" type="text" name="eventZIP" formControlName="eventZIP" class="form-control"/>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="eventStreet">Street:</label>
        <input id="eventStreet" type="text" name="eventStreet" formControlName="eventStreet" class="form-control"/>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label for="eventDateTime">Date:</label>
      <input id="eventDateTime" type="text" bsDatepicker name="eventDateTime" formControlName="eventDateTime"
             class="form-control"/>
    </div>
  </div>


  <div class="btn-group">
    <button type="submit" class="btn btn-primary">
      Save
    </button>
    <button type="submit" (click)="setShouldNavigateToList()" class="btn btn-primary">
      Save and Back
    </button>
    <button type="submit" (click)="navigateToList()" class="btn btn-primary">
      Back without saving
    </button>

  </div>

</form>
