<div class="container">
  <h1>Sports</h1>

  <!--div *ngFor="let sport of sports">
    <div class="row">
      <div class="col">
          <h5>{{sport.sportName}}</h5>
          Description: {{sport.sportDescription}}
          {{sport.sportPicture}}
      </div>
      <div class="btn">
        <a [routerLink]="'/sport-form/' + sport.id">
          <button>Edit</button>
        </a>
        <button type="button" (click)="deleteSport(sport)">Delete</button>
      </div>
    </div>
  </div>
  <div class="btn">
    <button type="button" (click)="createSport()">Create Sport</button>
  </div-->

  <table class="table">
    <thead>
    <tr>
      <th>Sport Name</th>
      <th>Description</th>
      <th>Team</th>
      <th>Team Size</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let sport of sports; let i = index;">
      <td><strong>{{ sport.sportName }}</strong></td>
      <td>{{ sport.sportDescription}}</td>
      <td>{{sport.team}}</td>
      <td>{{sport.teamSize}}</td>
      <!--td>
        <img [src]="previews[i] | safeUrl" *ngIf="previews[i]"
             class="img-fluid">
      </td-->

      <td>
        <!--div class="btn-group">
          <button type="button" class="btn btn-danger" (click)="deleteMedia(i)">
            Entfernen
          </button>
        </div-->
        <div>
          <a [routerLink]="'/sport-info/' + sport.id">
            <button class="btn btn-blue">Details</button>
          </a>


          <a [routerLink]="'/sport-form/' + sport.id">
            <button class="btn btn-primary">Edit</button>
          </a>
          <button type="button" class="btn btn-red" (click)="deleteSport(sport)">Delete</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="btn">
    <button type="button" class="btn btn-primary" (click)="createSport()">Create Sport</button>
  </div>
</div>
