<form [formGroup]="eventInfo">




  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="eventTitle">Title:</label>

        <div id="eventTitle"> {{event.eventTitle}}</div>


      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="eventOrganizer">Organizer:</label>

        <div id="eventOrganizer"> {{event.eventOrganizer}}</div>


      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="eventDescription">Title:</label>

        <div id="eventDescription"> {{event.eventDescription}}</div>


      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="sport">Sport:</label>

        <div id="sport"> {{event.sport}}</div>


      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="eventType">Type:</label>

        <div id="eventType">Type comes here</div>


      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="eventTown">Town:</label>

        <div id="eventTown"> {{event.eventTown}}</div>


      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="eventZIP">Town:</label>

        <div id="eventZIP"> {{event.eventZIP}}</div>


      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="eventStreet">Town:</label>

        <div id="eventStreet"> {{event.eventStreet}}</div>


      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="eventDate">Town:</label>

        <div id="eventDate"> {{event.eventDateTime}}</div>


      </div>
    </div>
  </div>


  <div class="btn-group">
    <button type="submit" (click)="navigateToList()" class="btn btn-primary">
      Back
    </button>

  </div>
</form>
