<form [formGroup]="eventInfo">

  <div class="container">

    <h1>{{event.eventTitle}}</h1>

    <div class="row">
      Sport: {{sportName}}
    </div>
    <div class="row">
      Type: {{event.eventType}}
    </div>
    <div class="row">
      Organizer: {{event.eventOrganizer}}
    </div>
    <div class="row">
      Date: {{event.eventDateTime | date:short}}
    </div>
    <div class="row">
      Location: {{event.eventZIP}} {{event.eventTown}}, {{event.eventStreet}}
    </div>

    <div>
      <button class="btn btn-green" type="button" (click)="participateEvent(event)" *ngIf="event.eventOrganizer !== currentLoggedInUser">Participate</button>
      <button type="submit" (click)="navigateToList()" class="btn btn-primary">
        Back
      </button>

    </div>
  </div>
</form>
